/* The navigation bar */

.myNav {
    overflow: hidden;
    background-color: #FFFFFF;
    position: absolute;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
}


/* Links inside the navbar */

.myNav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 800;
    font-family: 'AvenirNext', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: rgb(38, 38, 38);
    line-height: 25px;
    font-size: 14px;
    cursor: pointer;
}

.myNavbar {
    width: 92.3%;
    max-width: 960px;
    margin: auto;
}

.col-md-12 {
    -webkit-font-smoothing: antialiased;
    background-color: #FFFC00;
    padding: 61px 0 15px 0;
    margin-top: 50px;
    height: calc(100% - 46px);
}

#ghost {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 150px;
    height: auto;
}

.caret img {
    position: absolute;
    width: 48px;
    height: 15px;
    background-size: 48px 15px;
    bottom: 20px;
    left: 50%;
    margin-left: -34px;
    cursor: pointer;
    padding: 10px;
    box-sizing: content-box;
    z-index: 1;
    display: block;
}

.foot {
    background-color: #F8F9FB;
}

#foot-container {
    box-sizing: content-box;
    position: relative;
    padding: 30px 0 30px;
    min-height: 195px;
    width: 92.3%;
    max-width: 960px;
    margin: auto;
}

.column {
    position: relative;
    box-sizing: border-box;
    float: left;
    width: 25%;
    padding-right: 6.25%;
    margin-top: 5%;
}

.column li {
    display: table;
    color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
    line-height: 17px;
    margin-top: 6px;
}

.column h5 {
    box-sizing: content-box;
    line-height: 23px;
    font-weight: bold;
}

#selector {
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    background: white;
    width: 100%;
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 14px;
    font-family: inherit;
    color: rgba(0, 0, 0, 0.6);
    height: 34px;
    cursor: pointer;
}